
/build/
/phpunit.xml
/var
/vendor/
/web/bundles/
.env
/bin
!/bin/console
!/bin/symfony_requirements

#####=== Node ===#####

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log

#Build files
build

